{% extends "app/base.html" %}
{% block body_block %}
{% if message %}
<script>alert('{{message}}')</script>    
{% endif %}
<section>				
    <div id="container_demo" >
     
        <div id="wrapper">
            
<div id="login" class="animate form">
    <form  action="fetch" autocomplete="on" method="POST"> 
        {% csrf_token %}
        
        <h1> Fetch URL Content </h1>
        <p> 
            <label for="{{ url_form.url.id_for_label }}"  > Enter URL </label>
           {{url_form.url}}
            <!--<input id="url" name="url" required="required" type="text" placeholder="https://www.example.com/"/> -->
        </p>
        
        <p class="login button"> 
            <input type="submit" value="Submit" /> 
        </p>
        
    </form>
</div>

{% endblock %}
</div>
</div>  
</section>




{% if user.is_authenticated %}
hello
{% else %}
bye
{% endif %}