{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>URL Content Fetch System</title>
    <link rel='icon' href="{% static 'app/images/manitlogo3.jpg' %}">
    <link rel='stylesheet' type='text/css' href="{% static 'app/css/basic.css' %}"/>
    <link rel='stylesheet' type='text/css' href="{% static 'app/css/modal.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
</head>
<body>
    <div class='header-container'>
        <a href='http://www.manit.ac.in/'  class='header'>
            <img class='logo' src="{% static 'app/images/manitlogo.png' %}" alt='manit.ac.in' />
            <div class='title'>
                <div class='innertitle'>
                    MAULANA AZAD NATIONAL INSTITUTE OF TECHNOLOGY(NIT BHOPAL)
                </div>
                URL Content Fetch System
            </div>
        </a>
        <div class='nav'>
            <a href='#home' class='nav-btn'>
                Home
            </a>
            {% if user.is_authenticated %}
            <a href='#login' class='nav-btn'>
                Fetch
        </a>
            <a href='#login' class='nav-btn'>
                Logout
        </a>
        {% else %}
            <a href='#register' class='nav-btn'>
                    Register
            </a>
            <a href='#login' class='nav-btn'>
                    Login
            </a>
            {% endif %}
        </div>
    </div>
    <div id='home'></div>
    <div class='workSpace'>
        <img class ='manitBuilding' src="{% static 'app/images/manitBuilding.jpg' %}" alt='Manit Building' />
        <div class='introduction'>
            <div>
                <h1>About</h1>
            </div>
            
            <div id='register'></div>
            <div class='intro-content'>
                <p>
                    <div style="float: right;position: relative;margin-left: 10px;">
                        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
                        <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="neerajkumar0699"><a class="LI-simple-link" target='_blank' href='https://in.linkedin.com/in/neerajkumar0699?trk=profile-badge' >Neeraj Kumar</a></div>
                    </div>
                    <div>
                        A student in Bachelor Of Technology with enthusic in software 
                        development, seeking full-time Software Development Engineer opportunities. 
                        A fast learner with strong time management and multi-tasking skills.
                        Strong work ethic in a team or individually to drive product success and 
                        process efficiency. Strong troubleshooting and problem-solving skills with 
                        an analytical mindset.
                         <br>
                         <br>

                        <b>Technical Skills & Proficiencies:</b><br>
                        <b>Problem-Solving Skills:</b> Data Structures And Algorithms.<br>
                        <b>Programming Skills:</b> C++, Java, Python, C, MySQL.<br>
                        <b>Web Technologies:</b> Django, PHP, MVC, JavaScript, Html, CSS.<br>
                        <b>Other Technologies:</b> Object-Oriented Design(OOPs), AWS Cloud Computing Fundamentals, Machine Learning, Linux/Unix, GIT.<br>
            </div>
            </p>
            </div>
        </div>
        
       
        {% if not user.is_authenticated %}

        <!-- Student Registration button -->
        <div class='register'>
            <div>
                <h1>Registeration</h1>
            </div>
            <div class='btn register-btn' onclick="location.href='{% url 'register' %}'">
                <i class="fas fa-user-circle"><div>User Registration</div></i>
            </div>
        </div>   
        <!-- Login Section -->
        <div class='login'>
            <div>
                <h1 id='login'>Login Section</h1>
            </div>
            <div class='login-btn-container'>
                <!-- Student login button -->

                <div class='login-btn' onclick="location.href='{% url 'login' %}'">
                    <i class="fas fa-user-circle"><div>User Login</div></i>
                </div>
                
                <!-- Admin Login button -->
                <div class='login-btn' onclick="window.open('{% url 'admin:index' %}','_blank')">
                    <i class="fas fa-user-circle"><div>Admin's Login</div></i>
                </div>
            </div>
        </div>
        {% else %}
        <div class='login'>
            <div>
                <h1 id='login'>Section</h1>
            </div>
            <div class='login-btn-container'>
                <div class='fetch-btn' onclick="window.open('{% url 'fetch' %}','_blank')">
                    <i class="fas fa-user-circle"><div>Fetch</div></i>
                </div>
                <div class='logout-btn' onclick="location.href='{% url 'logout' %}'">
                    <i class="fas fa-user-circle"><div>Logout</div></i>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class='top-container'>
    <footer>
        <div class='socialMedia'>
                <a href=""> <div class="fab fa-facebook-square media" padding='10px'></div></a>
                <a href=""><div class="fab fa-instagram media" padding='10px'></div></a>
                <a href=""><div class="fab fa-google media" padding='10px'></div></a>
        </div>
        <div class='copyright'>
                2020 All Rights Reserved Terms of Use and Privacy Policy
        </div>
    </footer> 

</body>
</html>